<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Prenda</title>
</head>
<body>
<h2>Agregar Prenda</h2>
<form action="/prendas/agregar" method="post" th:object="${nuevaPrenda}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="name" th:field="*{name}" th:required="required">
    <br>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="price" th:field="*{price}" th:required="required">
    <br>

    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="quantity" th:field="*{quantity}" th:required="required">
    <br>

    <button href="/prendas" type="submit" >Agregar Prenda</button>
</form>
</body>
</html>